/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/images/settings/*
!/public/images/settings/.gitkeep
/public/images/posts/*
!/public/images/posts/.gitkeep
/public/images/tramites/*
!/public/images/tramites/.gitkeep
/public/images/banners/*
!/public/images/banners/.gitkeep
