/* Fonts */

@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/Trebuchet/trebuc.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Trebuchet MS';
  src: url('../fonts/Trebuchet/Trebuchet-MS-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
